@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

* {
    font-family: 'Rubik', sans-serif;
    padding: 0;
    margin: 0;
}

.banner {
    background-image: url("../img/fondo.jpg");
    height: 300px;
    background-size: cover;
}

.banner img {
    height: 200px;
    margin-top: 50px;
    margin-left: 50px;
    float: left;
}

.banner nav {
    color:white;
    margin-top: 100px;
    float: left;
    font-size: 20px;
    font-weight: 700;
}

.banner li {
    margin-bottom: 10px;
}

ul {  
    list-style-type: none;
} 

a:link {
    color:white;
    text-decoration: none;
}

a:visited {
    color:white;
    text-decoration: none;
}

a:hover {
    color:white;
    text-decoration: none;
}

a:active {
    color:white;
    text-decoration: none;
}

.section-1 {
    background-color: #1931d9;
    color: white;
    padding: 30px;
}

.section-2 {
    /* border: 1px solid gray; */
    padding: 30px;
    margin-top: 20px;
}

h2 {
    margin-bottom: 10px;;
}

footer {
    background-color: black;
    padding: 10px;
    text-align: center;
}

footer i {
    color:white;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
}